
body {
    background-color: #0067ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5px;

    color: white
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

img {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.large-input {
    display: block;
    margin: 20px auto;
    font-size: 16px;
    border: 1px solid #ccc;
    outline: none;
}

.large-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.btn-primary {
    background-color: #f59c24;
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn-primary:active {
    transform: translateY(1px);
}

.large-input, .btn-primary {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 5px;
}
