h1 {
    font-family: sans-serif; /* Optional: Makes it look cleaner */
    margin-top: 50px;       /* Optional: Gives it some space from the top */
}

h1, p {
    color: white;
    text-align: center;
}

/* This styles the entire body to center content */
body {
    background-color: #0067ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5px; /* Adds space so text doesn't touch the screen edges */
}

/* This makes the image responsive */
img {
    /*width: 100px;    !* Limits the logo to 80% of the screen width *!*/
    max-width: 20%;    /* Limits the logo to 80% of the screen width */
    height: auto;      /* Keeps the image from looking stretched */
    display: block;
    margin: 20px auto; /* Centers the image and adds vertical spacing */
}
