h1 {
    font-family: sans-serif;
    margin-top: 50px;
}

h1, p {
    color: white;
    text-align: center;
}

body {
    background-color: #0067ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5px;
}

img {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.large-input {
    box-sizing: border-box;
    display: block;
    margin: 20px auto;

    width: 90%;
    max-width: 320px;

    padding: 14px 16px;
    font-size: 16px;

    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.large-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}
