<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>IceBank - Password Reset</title>
        <div th:replace="~{fragments :: header-files}"></div>
    </head>

    <body>
        <div class="page-container">
            <a th:href="@{/login}" class="back-btn push-left">&#10094;</a>
            <div th:replace="~{fragments :: auth-header}"></div>

            <h2 class="mb-35">Reset your password</h2>

            <form id="changePasswordForm" th:action="@{/changePassword}" method="post">
                <input type="hidden" name="token" th:value="${token}">
                <input type="password" minLength="6" maxLength="20" id="password" name="password" class="large-input mb-20" placeholder="New Password" required>
                <input type="password" id="confirmPassword" class="large-input mb-20" placeholder="Confirm Password" required>
                <button type="submit" class="btn btn-primary btn-big">Reset Password</button>
            </form>
        </div>
        <script th:src="@{/js/changePassword.js}"></script>
    </body>
</html>