<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>IceBank - Dashboard</title>
        <div th:replace="~{fragments :: header-files}"></div>
    </head>

    <body>
        <div th:replace="~{fragments :: toolbar-header(showBack=false)}"></div>

        <div class="page-container">
            <div class="user-info">
                <strong th:text="${userAccount.name}">User Name</strong><br>
                <small>ID: <span th:text="${userAccount.id}">0</span></small>
            </div>

            <div class="balance">
                <p class="m-0">Balance</p>
                <h1>$<span th:text="${#numbers.formatDecimal(userAccount.balance, 1, 'DEFAULT', 2, 'DEFAULT')}">0.00</span></h1>
            </div>

            <a th:href="@{/transfer}" class="btn btn-small transfer-btn btn-secondary push-right">Transfer</a>
        </div>
    </body>
</html>