<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>IceBank - Password Reset</title>
        <div th:replace="~{fragments :: header-files}"></div>
    </head>

    <body>
        <div class="page-container">
            <a th:href="@{/login}" class="back-btn push-left">&#10094;</a>
            <div th:replace="~{fragments :: forgotPasswordAlerts}"></div>
            <div th:replace="~{fragments :: auth-header}"></div>

            <p class="mb-35">Enter your email address and we’ll send you a link to reset your password</p>

            <form th:action="@{/processPasswordReset}" method="post" class="mb-20">
                <input type="email" name="emailAddress" class="large-input mb-20" placeholder="Email Address" required>
                <button type="submit" class="btn btn-primary btn-big">Reset Password</button>
            </form>
        </div>
    </body>
</html>