<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

    <head th:fragment="header-files">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" th:href="@{/images/icebank_logo.png}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script th:src="@{/js/disableOnSubmit.js}" defer></script>
    </head>

    <div th:fragment="auth-header">
        <h1>IceBank</h1>
        <img class="logo" th:src="@{/images/icebank_logo.png}" alt="IceBank Logo">
    </div>

    <header th:fragment="toolbar-header" class="toolbar">
        <div class="toolbar-content">
            <a th:if="${showBack}" th:href="@{/dashboard}" class="back-btn back-btn-toolbar">&#10094;</a>

            <h1 class="m-0">IceBank</h1>

            <a th:href="@{/logout}">
                <img class="logout-btn" th:src="@{/images/logout_btn.png}" alt="Logout">
            </a>
        </div>
    </header>


    <div th:fragment="loginAlerts" th:if="${param.status != null}">
        <th:block th:if="${param.status[0] == 'account-created'}">
            <div th:replace="~{fragments :: customAlert('success', 'Success!', 'Check your email to verify your account.')}"></div>
        </th:block>

        <th:block th:if="${param.status[0] == 'account-verified'}">
            <div th:replace="~{fragments :: customAlert('success', 'Verified!', 'Your account is active. You can now log in.')}"></div>
        </th:block>

        <th:block th:if="${param.status[0] == 'account-unverified'}">
            <div th:replace="~{fragments :: customAlert('danger', 'Verification Required', 'Please check your email to verify your account before logging in.')}"></div>
        </th:block>

        <th:block th:if="${param.status[0] == 'bad-credentials'}">
            <div th:replace="~{fragments :: customAlert('danger', 'Login Failed', 'Incorrect username or password')}"></div>
        </th:block>

        <th:block th:if="${param.status[0] == 'verification-error'}">
            <div th:replace="~{fragments :: customAlert('danger', 'Verification Failed', 'Account could not be verified. Please try again later.')}"></div>
        </th:block>

        <th:block th:if="${param.status[0] == 'reset-password-sent'}">
            <div th:replace="~{fragments :: customAlert('success', 'Password Reset', 'If an account is associated with that email, you will receive a link to reset your password')}"></div>
        </th:block>

        <th:block th:if="${param.status[0] == 'reset-password-error'}">
            <div th:replace="~{fragments :: customAlert('danger', 'Password Reset Failed', 'An unexpected error occurred. Could not reset password.')}"></div>
        </th:block>

        <th:block th:if="${param.status[0] == 'password-change-success'}">
            <div th:replace="~{fragments :: customAlert('success', 'Password Changed', 'Your password has been successfully changed. Login to continue.')}"></div>
        </th:block>

        <th:block th:if="${param.status[0] == 'error'}">
            <div th:replace="~{fragments :: customAlert('danger', 'Login Failed', 'An unexpected error occurred. Could not login to account.')}"></div>
        </th:block>
    </div>

    <div th:fragment="signupAlerts" th:if="${param.status != null}">
        <th:block th:if="${param.status[0] == 'email-exists'}">
            <div th:replace="~{fragments :: customAlert('danger', 'SignUp Failed', 'That email is already registered. Please log in.')}"></div>
        </th:block>

        <th:block th:if="${param.status[0] == 'signup-failed'}">
            <div th:replace="~{fragments :: customAlert('danger', 'SignUp Error', 'Something went wrong. Please try again.')}"></div>
        </th:block>
    </div>

    <div th:fragment="forgotPasswordAlerts" th:if="${param.status != null}">
        <th:block th:if="${param.status[0] == 'error'}">
            <div th:replace="~{fragments :: customAlert('danger', 'Password Reset Failed', 'An unexpected error occurred. Could not reset password.')}"></div>
        </th:block>
    </div>

    <div th:fragment="customAlert(alertType, title, message)" class="alert-wrapper">
        <div th:class="'custom-alert alert-' + ${alertType}">
            <div class="alert-content">
                <span class="alert-title" th:text="${title}">Title</span>
                <span class="alert-message" th:text="${message}">Message</span>
            </div>
            <button type="button" class="close-alert" onclick="this.parentElement.parentElement.style.display='none';">&times;</button>
        </div>
    </div>

</body>
</html>