<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IceBank - Log in</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>

    <body>
        <div class="login-container">
            <h1>IceBank</h1>
            <img th:src="@{/images/icebank_logo.png}" alt="IceBank Logo">

            <form style="width: 100%;">
                <input type="tel"
                       class="large-input"
                       placeholder="User ID"
                       pattern="[0-9]*"
                       inputmode="numeric">

                <button type="submit" class="btn btn-primary">Log In</button>
            </form>

            <button type="button" class="btn btn-secondary">Create New Account</button>
        </div>
    </body>
</html>