<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>IceBank - Sign Up</title>
    <div th:replace="~{fragments :: header-files}"></div>
</head>
<body>
    <div class="page-container">
        <div th:replace="~{fragments :: auth-header}"></div>

        <form th:action="@{/signup}" th:object="${accountRequest}" method="post">
            <input type="text" th:field="*{name}" class="large-input mb-20" placeholder="Name" required>
            <input type="email" th:field="*{email}" class="large-input mb-20" placeholder="Email" required>
            <button type="submit" class="btn btn-primary btn-big">Sign Up</button>
        </form>

        <a th:href="@{/login}" class="btn btn-secondary btn-big push-bottom">Already Have an Account?</a>
    </div>
</body>
</html>