<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IceBank - Transfer</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script th:src="@{/js/transfer.js}"></script>
    </head>

    <body>
        <div th:replace="~{fragments :: toolbar-header(showBack=true)}"></div>
        <div class="page-container">
            <h1 class="mt-0 mb-35">Transfer Money</h1>

            <p class="push-left">
                Current Balance: <strong th:text="${#numbers.formatCurrency(userAccount.balance)}">$0.00</strong>
            </p>

            <form th:action="@{/processTransfer}" method="post" class >
                <div class="input-transfer-container">
                    <span class="currency-prefix">$</span>
                    <input type="number"
                           name="amount"
                           class="large-input pl-30"
                           placeholder="0.00"
                           step="0.01"
                           min="0"
                           inputmode="decimal"
                           required>
                </div>

                <div class="toggle-container">
                    <input type="radio" id="in" name="type" value="IN" checked class="toggle-radio">
                    <label for="in" class="toggle-label label-left">TRANSFER IN</label>

                    <input type="radio" id="out" name="type" value="OUT" class="toggle-radio">
                    <label for="out" class="toggle-label label-right">TRANSFER OUT</label>
                </div>
                <button type="submit" class="btn btn-primary btn-big">Transfer Money</button>
            </form>
        </div>

        <div id="errorPopup" class="popup-overlay" style="display: none;">
            <div class="popup-content">
                <div class="error-icon">!</div>
                <h3>Insufficient Funds</h3>
                <p>You don't have enough money in your balance to complete this transfer.</p>
                <button onclick="closePopup()" class="btn btn-primary btn-big">Got it</button>
            </div>
        </div>

    </body>
</html>